{% include "header.html" %}
        <h1>Cart</h1>

            {% if session["cart"] is defined %}
                <form action="updatecart" method="post">
                    <table>
                    <tr><th>Name</th><th>Quantity</th><th>Subtotal</th><th>Action</th></tr>

                    {% for item in session["cart"].values() %}
                                <tr>
                                    <input type="hidden" name="code" value="{{ item['code'] }}">
                                    <td><input type="hidden" name="name" value="{{ item['name'] }}">{{ item['name'] }}</td>
                                    <td><input type="number" name="qty" value="{{ item['qty'] }}"></td>
                                    <td><input type="hidden" name="subtotal" value="{{ item['subtotal'] }}">{{ item['subtotal'] }}</td>
                                    <td colspan="2"><a href="/deleteitem?code={{ item["code"] }}">Delete</a></td>
                                </tr>
                    {% endfor %}
                    <tr><td colspan=2><b>Total</b></td><td><b>{{ session["cart"].values()|sum(attribute="subtotal") }}</b></td></tr>
                    </table>
                    <a href="/deleteall">Clear</a>
                    <input type="submit" name="submit" value="Update">
                </form>
                
                <a href="checkout">Checkout</a>

            {% else %}
                <div>Your cart is empty</div>
            {% endif %}

{% include "footer.html" %}